<% layout('layouts/boilerplate') %>
<div class="pageHeadDiv">
  <h2 class="pageHead">Eggs availability</h1>
</div>

  <div class="pageContent">
    <% for(let egg of eggs) {%> 
      <div class="card" style="width: 80vw; margin-left: 6vw;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Date: <%= egg.date %></li>
          <li class="list-group-item">Location: <%= egg.location %></li>
          <li class="list-group-item">Quantity: <%= egg.quantity %></li>
          <li class="list-group-item "><a class="linkItem" href="/eggs/<%= egg._id %>">View </a></li>
        </ul>
        <div class="card-footer">
          <a class="footerLink" href="https://api.whatsapp.com/send?phone=91<%= egg.contact  %>">Contact the owner through whatsapp</a>
        </div>
      </div>
      <div class="emptyDiv">
      </div>
      <% } %> 
  </div>

  <div class="newDiv"><a href="/eggs/new/" class="newLink">Click to add new</a></div>